* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    margin: 0px;
    padding: 0px;
}

body
{
    background-color: rgb(220, 220, 220);
    font-size: 24px;
}

#topo
{
    align-items: center;
    background-image: linear-gradient(to right, rgb(0, 118, 127) 1%,black 185%);
    display: flex;
    flex-direction: row;
    height: 5vw;
    justify-content: space-around;
    position: fixed;
    width: 100%;
}

#topo .logo_checkpoint
{
    align-items: center;
    display: flex;
    height: auto;
    width: 12vw;
}

#topo .logo_checkpoint a
{
    display: flex;
}

#topo .logo_checkpoint a img
{
    height: 100%;
    width: 100%;
}

#topo .menu
{
    display: flex;
    font-size: 1.55vw;
    height: 90%;
}

#topo .menu ul
{
    align-items: center;
    display: flex;
    height: 100%;
    list-style-type: none;
    text-align: center;
}

#topo .menu li
{
    padding: .8em 1em;
}

#topo .menu li a
{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    transition: .2s;
    transition-timing-function: ease-out;
}

#topo .menu li a:hover
{
    color: red;
    text-shadow: 0px 0px 2px rgb(47, 47, 47);
    transition: .2s;
    transition-timing-function: ease-in;
}

#banner
{
    align-items: center;
    background-image: url(../img/background/background_topo.png);
    background-size: cover;
    color: white;
    display: grid;
    grid-column-gap: 5%;
    grid-template-columns: 40% 50%;
    height: 39vw;
    padding-left: 12vw;
    text-align: justify;
}

#banner .check_point
{
    align-items: center;
    display: grid;
    grid-template-rows: 5vw 9vw 8vw;
}

#banner .check_point h1
{
    font-size: 3vw;
    font-weight: 900;
    letter-spacing: .2vw;
}

#banner .check_point p
{
    font-size: 1.5vw;
    letter-spacing: .1vw;
}

#banner .check_point .botoes
{
    display: grid;
    font-size: 1.5vw;
    grid-template-columns: 11vw 11vw;
    grid-column-gap: 4vw;
    justify-self: center;
}

#banner .check_point a
{
    background-color: #ff0000;
    border-radius: 1.5vw;
    box-shadow: 2px 2px rgb(137, 137, 137);
    color: white;
    padding: 1vw 3vw;
    text-decoration: none;
    transition: .5s;
    transition-timing-function: ease-out;
}

#banner .check_point a:hover
{
    background-color: #e20000;
    transition: .5s;
    transition-timing-function: ease-in;
}

#banner .mockup img
{
    height: auto;
    width: 100%;
}

main
{
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding-top: 6vw;
}

main section
{
    display: flex;
    flex-direction: column;
}

main h2
{
    font-size: 4vw;
    font-weight: 100;
    letter-spacing: .05em;
    padding-bottom: 2em;
    text-align: center;
}

main .timeline
{
    align-items: center;
    align-self: center;
    display: grid;
    font-size: 1.5vw;
    grid-template-columns: 15vw 7vw 10vw 1vw 10vw 12vw 15vw;
    grid-template-rows: 20vw 15vw 20vw;
    grid-gap: 1vw;
    justify-items: center;
    text-align: justify;
}

main .timeline .linha_vertical
{
    border-left: 1vw dotted black;
    grid-area: 1 / 4;
    grid-row-start: 1;
    grid-row-end: 4;
    height: 100%;
}

main .timeline .linha_horizontal1
{
    border-top: 1vw dotted black;
    grid-area: 1 / 5;
    width: 100%;
}

main .timeline .icon_clock
{
    grid-area: 1 / 6;
}

main .timeline .icon_clock img
{
    height: auto;
    width: 6vw;
}

main .timeline .desc_time
{
    display: grid;
    grid-area: 1 / 7;
    grid-row-gap: 1vw;
    grid-template-rows: 5vw 14vw;
}

main .timeline .desc_location
{
    display: grid;
    grid-area: 2 / 1;
    grid-row-gap: 1vw;
    grid-template-rows: 5vw 9vw;
}

main .timeline .icon_location
{
    grid-area: 2 / 2;
}

main .timeline .icon_location img
{
    height: auto;
    width: 5vw;
}

main .timeline .linha_horizontal2
{
    border-top: 1vw dotted black;
    grid-area: 2 / 3;
    width: 100%;
}

main .timeline .linha_horizontal3
{
    border-top: 1vw dotted black;
    grid-area: 3 / 5;
    width: 100%;
}

main .timeline .icon_team
{
    display: grid;
    grid-area: 3 / 6;
}

main .timeline .icon_team img
{
    height: auto;
    justify-self: center;
    width: 8vw;
}

main .timeline .desc_team
{
    display: grid;
    grid-area: 3 / 7;
    grid-row-gap: 1vw;
    grid-template-rows: 4vw 15vw;
}

main #clientes
{
    align-items: center;
    display: grid;
    grid-gap: 4vw;
    grid-template-columns: 5vw 5vw 10vw 5vw 5vw 5vw 5vw;
    grid-template-rows: 10vh;
    justify-items: center;
    margin: 20vw;
}

main #clientes img
{
    filter: opacity(25%);
    height: 100%;
    width: 100%;
}

footer
{
    background-image: url(../img/background/background_rodape.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 37vw;
    width: 100%;
}

footer .container_footer
{
    align-items: center;
    display: grid;
    height: 85%;
    grid-template-columns: 32% 2% 32% 2% 32%;
    justify-items: center;
    padding-top: 5vw;
}

footer .container_footer img
{
    height: 100%;
    width: 100%;
}

footer .container_footer .logo_carfel
{
    display: grid;
    grid-template-columns: 12vw;
    grid-template-rows: 5vw;
    transform: translateY(3vw);
}

footer .container_footer .linha_vertical
{
    border-left: 2px solid white;
    height: 15vw;
    transform: translateY(3vw);
}

footer .container_footer #desc_carfel
{
    color: white;
    font-size: 1.5vw;
    justify-self: center;
    padding-top: 5vw;
    text-align: justify;
    width: 28vw;
}

footer .container_footer #social_media
{
    align-items: center;
    display: grid;
    grid-gap: 1vw;
    grid-template-columns: 5vw 5vw 5vw;
    justify-items: center;
    transform: translateY(3vw);
}

/* chat */

footer .flex-container
{
    align-items: center;
    display: flex;
    height: 100%;
}

footer .flex-container > *
{
    flex: 1;
}

footer #chat
{
    bottom: 0;
    font-size: 1vw;
    max-width: 400px;
    position: fixed;
    right: 2rem;
    width: 20vw;
}

footer #chat .personal
{
    background: red;
    border-radius: 20px 20px 0px 0px;
    color: white;
    height: 3vw;
}

footer #chat .perfil-imagem
{
    flex: 1;
    height: 100%;
    width: 100%;
}

footer #chat .perfil-dados
{
    align-items: center;
    flex: 3;
    display: flex;
}

footer #chat .perfil
{
    flex: 5;
}

footer #chat .chat-comandos
{
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

footer #chat .chat-comandos a
{
    padding: 5px;
}

footer #chat .perfil-imagem img
{
    width: auto;
    height: 100%;
    margin-left: .5em;
}

footer #chat .personal .flex-container
{
    align-items: center;
    height: 100%;
}

footer #chat .perfil-nome
{
    flex: 3;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1em;
    font-weight: 600;
}

footer #chat .perfil-status
{
    flex: 1;
}

footer #chat .corpo
{
    background-color: rgb(169, 238, 169);
    display: flex;
    display: none;
    flex-direction: column;
    height: 40vh;
    overflow-y: auto; /* cria o scroll */
    padding: .4em;
}

footer #chat .chat-msg
{
    background: lightgoldenrodyellow;
    border-radius: 1em;
    box-shadow: 0 0 5px #999;
    margin: 0.5em;
    padding: 0.5em;
    text-align: justify;
    width: 85%;
}

footer #chat .chat-msg-enviada
{
    align-self: flex-end; /* alinhamento para os filhos */
    background: rgba(0, 128, 0, 0.623);
    text-align: justify;
}

footer #chat .mensagem
{
    align-items: center;
    display: flex;
    flex: 6;
    height: 100%;
}

footer #chat .mensagem textarea
{
    height: 80%;
    margin-right: 1em;
    resize: none;
    width: 100%;
  
}

footer #chat .mensagem button
{
    height: 70%;
  
}

footer #chat .rodape
{
    align-items: center;
    background-color: rgb(169, 238, 169);
    display: none;
    height: 2vw;
}

footer #chat .rodape i
{
    flex-basis: 32px;
    text-align: center;
}

#chat:hover .corpo
{
    display: flex;
}

#chat:hover .rodape
{
    display: block;
}

