*
{
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    margin: 0px;
    padding: 0px;
}

body
{
    background-color: rgb(220, 220, 220);
    font-size: 24px;
}

#topo
{
    align-items: center;
    background-image: linear-gradient(to right, rgb(0, 118, 127) 1%,black 185%);
    display: flex;
    flex-direction: row;
    height: 5vw;
    justify-content: space-around;
    position: fixed;
    width: 100%;
}

#topo .logo_checkpoint
{
    align-items: center;
    display: flex;
    height: auto;
    width: 12vw;
}

#topo .logo_checkpoint a
{
    display: flex;
}

#topo .logo_checkpoint a img
{
    height: 100%;
    width: 100%;
}

#topo .menu
{
    display: flex;
    font-size: 1.55vw;
    height: 90%;
}

#topo .menu ul
{
    align-items: center;
    display: flex;
    height: 100%;
    list-style-type: none;
    text-align: center;
}

#topo .menu li
{
    padding: .8em 1em;
}

#topo .menu li a
{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    transition: .2s;
    transition-timing-function: ease-out;
}

#topo .menu li a:hover
{
    color: red;
    text-shadow: 0px 0px 2px rgb(47, 47, 47);
    transition: .2s;
    transition-timing-function: ease-in;
}

#banner
{
    background-image: url(../img/background/background_topo.png);
    background-size: cover;
    height: 39vw;
}

#banner .ajuda
{
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;
}

#banner .ajuda h1
{
    font-weight: 100;
    font-size: 4vw;
    letter-spacing: 0.05em;
    padding-bottom: 1em;
    text-transform: uppercase;
}

#banner .ajuda p
{
    font-size: 2vw;
    line-height: 3vw;
    text-align: justify;
    width: 60%;
}

main
{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-left: 16vw;
    padding-top: 16vw;
    width: 100%;
}

main h2
{
    font-size: 4vw;
    font-weight: 100;
    letter-spacing: .05em;
    padding-bottom: 5vw;
}

main li
{
    padding-bottom: 2vw;
}

main .pergunta
{
    font-size: 2vw;
    font-weight: 900;
    padding-bottom: 1vw;
}

main .resposta
{
    font-size: 1.5vw;
    padding-left: 2vw;
}

main .mensagem
{
    display: flex;
    flex-direction: column;
    padding-top: 5vw;
}

main .mensagem form
{
    display: flex;
    flex-direction: column;
}

main form p
{
    font-size: 2.5vw;
    letter-spacing: .1em;
    margin-bottom: 2.5vw;
}

main form .campo
{
    background-color: rgb(220, 220, 220);
    border: 2px solid;
    border-radius: 10px 10px;
    font-size: 1vw;
    letter-spacing: .05em;
    margin-bottom: 2vw;
    outline: none;
    padding: 15px 0px 0px 15px;
    resize: none;
}

main form textarea
{
    font-size: 1vw;
    padding-left: 1vw;
}

main form textarea:focus
{
    border: 3px solid;
    outline: none;
}

main form .botao_enviar
{
    background-color: #ff0000;
    border-radius: 1vw;
    color: white;
    font-size: 1.1vw;
    margin-left: 29vw;
    outline: none;
    padding: .8vw 3vw;
    transition: .5s;
    transition-timing-function: ease-out;
    width: 10vw;
}

main form .botao_enviar:hover
{
    background-color: #e20000;
    transition: .5s;
    transition-timing-function: ease-in;
}

footer
{
    background-image: url(../img/background/background_rodape.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 37vw;
    width: 100%;
}

footer .container_footer
{
    align-items: center;
    display: grid;
    height: 100%;
    justify-items: center;
    grid-template-columns: 49% 2% 49%;
}

footer .container_footer img
{
    height: 100%;
    width: 100%;
}

footer .container_footer .logo_carfel
{
    display: grid;
    grid-template-columns: 12vw;
    grid-template-rows: 5vw;
    transform: translateY(5vh);
}

footer .container_footer .linha_vertical
{
    border-left: 2px solid white;
    height: 15vw;
    transform: translateY(5vh);
}

footer .container_footer #social_media
{
    align-items: center;
    display: grid;
    grid-gap: 1vw;
    grid-template-columns: 5vw 5vw 5vw;
    justify-items: center;
    transform: translateY(5vh);
}

/* chat */

footer .flex-container
{
    align-items: center;
    display: flex;
    height: 100%;
}

footer .flex-container > *
{
    flex: 1;
}

footer #chat
{
    bottom: 0;
    font-size: 1vw;
    max-width: 400px;
    position: fixed;
    right: 2rem;
    width: 20vw;
}

footer #chat .personal
{
    background: red;
    border-radius: 20px 20px 0px 0px;
    color: white;
    height: 3vw;
}

footer #chat .perfil-imagem
{
    flex: 1;
    height: 100%;
    width: 100%;
}

footer #chat .perfil-dados
{
    align-items: center;
    flex: 3;
    display: flex;
}

footer #chat .perfil
{
    flex: 5;
}

footer #chat .chat-comandos
{
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

footer #chat .chat-comandos a
{
    padding: 5px;
}

footer #chat .perfil-imagem img
{
    width: auto;
    height: 100%;
    margin-left: .5em;
}

footer #chat personal .flex-container
{
    align-items: center;
    height: 100%;
}

footer #chat .perfil-nome
{
    flex: 3;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1em;
    font-weight: 600;
}

footer #chat .perfil-status
{
    flex: 1;
}

footer #chat .corpo
{
    background-color: rgb(169, 238, 169);
    display: flex;
    display: none;
    flex-direction: column;
    height: 40vh;
    overflow-y: auto; /* cria o scroll */
    padding: .4em;
}

footer #chat .chat-msg
{
    background: lightgoldenrodyellow;
    border-radius: 1em;
    box-shadow: 0 0 5px #999;
    margin: 0.5em;
    padding: 0.5em;
    text-align: justify;
    width: 85%;
}

footer #chat .chat-msg-enviada
{
    align-self: flex-end; /* alinhamento para os filhos */
    background: rgba(0, 128, 0, 0.623);
    text-align: justify;
}

footer #chat .mensagem
{
    align-items: center;
    display: flex;
    flex: 6;
    height: 100%;
}

footer #chat .mensagem textarea
{
    height: 80%;
    margin-right: 1em;
    resize: none;
    width: 100%;
  
}

footer #chat .mensagem button
{
    height: 70%;
  
}

footer #chat .rodape
{
    align-items: center;
    background-color: rgb(169, 238, 169);
    display: none;
    height: 2vw;
}

footer #chat .rodape i
{
    flex-basis: 32px;
    text-align: center;
}

#chat:hover .corpo
{
    display: flex;
}

#chat:hover .rodape
{
    display: block;
}