<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="../css/style_carfel.css">
    <title>Carfel</title>
</head>

<body>
    <header>
        <nav id="topo">
            <div class="logo_checkpoint">
                <a href="/Pages/Home">
                    <img src="../img/logos/logo_check_point.png" alt="logotipo do produto checkpoint constituído por um círculo azul com um ícone de lozalicação dentro e ao lado o nome check point">
                </a>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="/Pages/Home">home</a></li>
                    <li><a href="/Pages/Carfel">carfel</a></li>
                    <li><a href="/Pages/Planos">planos</a></li>
                    <li><a href="/Pages/Ajuda">ajuda</a></li>
                    <li><a href="/Pages/Contato">contato</a></li>
                </ul>
            </div>
        </nav>
        <section id="banner">
            <div class="carfel">
                <h1>Carfel</h1>
                <p>A Carfel nasceu a partir da ideia de fazer com que, assim após reuniões e debates, os fundadores chegaram
                    a. Criada desde o ano, já conta com diversos projetos em sua história, firmados com grandes empresas
                    multinacionais.
                </p>
            </div>
        </section>
    </header>

    <main>
        <h2>História</h2>
        <div class="timeline">
            <div class="linha_vertical1"></div>
            <div class="img_momento1">
                <img src="../img/moments/momento_1.png" alt="imagem de mãos se apertando">
            </div>
            <div class="linha_horizontal1"></div>
            <div class="desc_momento1">
                <h3>00 / 00 / 00</h3>
                <p>No dia x foi o marco para que acontecesse e se fizesse</p>
            </div>
            <div class="linha_vertical2"></div>
            <div class="desc_momento2">
                <h3>00 / 00 / 00</h3>
                <p>No dia x foi o marco para que acontecesse e se fizesse</p>
            </div>
            <div class="linha_horizontal2"></div>
            <div class="img_momento2">
                <img src="../img/moments/momento_2.png" alt="imagem de dois homens olhando para a tela do computador">
            </div>
            <div class="linha_vertical3"></div>
            <div class="img_momento3">
                <img src="../img/moments/momento_3.png" alt="imagem do mapa mundi aberto e pessoas em volta">
            </div>
            <div class="linha_horizontal3"></div>
            <div class="desc_momento3">
                <h3>00 / 00 / 00</h3>
                <p>No dia x foi o marco para que acontecesse e se fizesse</p>
            </div>
            <div class="linha_vertical4"></div>
        </div>
        <a href="https://www.carfel.pt/" target="_blank">
            <p>Clique aqui e visite o site da Carfel para outros produtos</p>
        </a>
    </main>

    <footer>
        <div class="container_footer">
            <div class="carlos">
                <div class="img_carlos">
                    <img src="../img/profile/carlos_tsukamoto.png" alt="foto de perfil do Carlos, sorrindo, usando óculos e terno">
                </div>
                <div class="desc_carlos">
                    <h4>Carlos Tsukamoto</h4>
                    <p>Breve descrição sobre o Carlos. Breve descrição sobre o Carlos. Breve descrição sobre o Carlos.</p>
                </div>
            </div>
            <div class="linha_vertical"></div>
            <div class="felipe">
                <div class="img_felipe">
                    <img src="../img/profile/felipe_oliveira.png" alt="foto de perfil do Felipe, usando óculos escuros olhando para o céu com árvores de fundo">
                </div>
                <div class="desc_felipe">
                    <h4>Felipe Oliveira</h4>
                    <p>Breve descrição sobre o Felipe. Breve descrição sobre o Felipe. Breve descrição sobre o Felipe.
                    </p>
                </div>
            </div>
        </div>

        <div id="chat">
            <div class="personal">
                <nav class="flex-container">
                    <div class="perfil flex-container">
                        <div class="perfil-imagem">
                            <img src="../img/profile/perfil.png" alt="foto de perfil do Saulo, sorrindo e com óculos escuros na frente de uma paisagem com árvores">
                        </div>
                        <div class="perfil-dados">
                            <span class="perfil-nome">Saulo Santos</span>
                            <span class="perfil-status">Online</span>
                        </div>
                    </div>
                    <!--fim perfil-->
                    <div class="chat-comandos">
                        <a href="#">
                            <i class="fas fa-search"></i>
                        </a>
                        <a href="#">
                            <i class="fas fa-paperclip"></i>
                        </a>
                    </div>
                    <!--fim chat comandos-->
                </nav>
            </div>
            <div class="corpo">
                <div class="chat-msg chat-msg-enviada">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, eos ratione doloribus numquam doloremque
                        ipsam veniam maxime molestias magnam voluptates nobis blanditiis?</p>
                    <span class="chat-msg-horario">10:00</span>
                </div>
                <div class="chat-msg chat-msg-recebida">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, eos ratione doloribus numquam doloremque
                        ipsam veniam maxime molestias magnam voluptates nobis blanditiis?</p>
                    <span class="chat-msg-horario">10:02</span>
                </div>
                <div class="chat-msg chat-msg-enviada">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, eos ratione doloribus numquam doloremque
                        ipsam veniam maxime molestias magnam voluptates nobis blanditiis?</p>
                    <span class="chat-msg-horario">10:05</span>
                </div>
            </div>
            <div class="rodape">
                <div class="flex-container">
                    <i class="far fa-grin-squint"></i>
                    <form class="mensagem">
                        <textarea></textarea>
                        <button>Enviar</button>
                    </form>
                    <i class="fas fa-microphone"></i>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>