<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="../css/style_home.css">
    <title>Check Point</title>
</head>

<body>
    <header>
        <nav id="topo">
            <div class="logo_checkpoint">
                <a href="/Pages/Home">
                    <img src="../img/logos/logo_check_point.png" alt="logotipo do produto checkpoint constituído por um círculo azul com um ícone de lozalicação dentro e ao lado o nome check point">
                </a>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="/Pages/Home">home</a></li>
                    <li><a href="/Pages/Carfel">carfel</a></li>
                    <li><a href="/Pages/Planos">planos</a></li>
                    <li><a href="/Pages/Ajuda">ajuda</a></li>
                    <li><a href="/Pages/Contato">contato</a></li>
                </ul>
            </div>
        </nav>
        <div class="alert">
            <p>Página em construção.<br><br> Visite as demais páginas do site através do menu acima.</p>
        </div>
        <section id="banner">
            <div class="check_point">
                <h1>Check Point</h1>
                <p>O Check Point é um sistema que visa fazer com que. O Check Point é um sistema que visa fazer com
                    que. O Check Point é um sistema que visa fazer com que. O Check Point é um sistema que visa
                    fazer
                    com que. O Check Point é um sistema que visa fazer com que. O Check Point é um sistema que visa
                    fazer com que.</p>
                <nav class="botoes">
                    <a href="planos.html" class="botao_planos">Planos</a>
                    <a href="#funcionalidades" class="botao_como">Como?</a>
                </nav>
            </div>
            <div class="mockup">
                <img src="../img/mockup/mockup.png" alt="imagem com alguns dispositivos como celular, tablet e computadores mostrando o sistema check point em funcionamento">
            </div>
        </section>
    </header>

    <main>
        <section>
            <a id="funcionalidades"></a>
            <h2>Funcionalidades</h2>
            <div class="timeline">
                <div class="secao_esq">
                    <div class="location">
                        <div class="desc_location">
                            <h3>Onde estiver</h3>
                            <p>Gerencie sua equipe da sua casa, do seu escritório ou de qualquer outro local.</p>
                        </div>
                        <div class="icon_timeline">
                            <img src="../img/icon/location.png" alt="ícone de localização, com um ponto no centro de um círculo">
                        </div>
                        <div class="linha_horizontal"></div>
                    </div>
                </div>
                <div class="secao_mid">
                    <div class="linha_vertical"></div>
                </div>
                <div class="secao_dir">
                    <div class="time">
                        <div class="linha_horizontal"></div>
                        <div class="icon_timeline">
                            <img src="../img/icon/clock.png" alt="ícone de um relógio simples, um círculo com dois ponteiros">
                        </div>
                        <div class="desc_time">
                            <h3>Controle de horário</h3>
                            <p>Com o Check Point se torna possível administrar o horário dos membros mesmo à distância.</p>
                        </div>
                    </div>
                    <div class="teams">
                        <div class="linha_horizontal"></div>
                        <div class="icon_timeline">
                            <img src="../img/icon/team.png" alt="ícone representando um time com três pessoas">
                        </div>
                        <div class="desc_time">
                            <h3>Organize times</h3>
                            <p>Outra vantagem do Check Point é a possibilidade de criação de times, facilitande a
                                organização
                                e otimização das tarefas.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div id="clientes">
            <div class="adidas">
                <img src="../img/logos/clients/logo_adidas.png" alt="logotipo da adidas, três listras na diagonal com o nome adidas embaixo">
            </div>
            <div class="steam">
                <img src="../img/logos/clients/logo_steam.png" alt="logotipo da steam, um círculo com um braço mecânico dentro">
            </div>
            <div class="ibm">
                <img src="../img/logos/clients/logo_ibm.png" alt="logotipo da IBM, a sigla IBM escrita por listras horizontais bem próximas">
            </div>
            <div class="dell">
                <img src="../img/logos/clients/logo_dell.png" alt="logotipo da dell, o nome dell dentro de um círculo">
            </div>
            <div class="intel">
                <img src="../img/logos/clients/logo_intel.png" alt="logotipo da intel, o nome intel dentro de uma elipse">
            </div>
            <div class="nvidia">
                <img src="../img/logos/clients/logo_nvidia.png" alt="logotipo da nvidia, metade de um olho fazendo junção com a metade de um quadrado e o nome nvidia embaixo">
            </div>
            <div class="hp">
                <img src="../img/logos/clients/logo_hp.png" alt="logotipo da HP, a sigla HP dentro de um círculo">
            </div>
        </div>
    </main>

    <footer>
        <div class="container_footer">
            <div class="logo_carfel">
                <a href="https://www.carfel.pt/" target="_blank">
                    <img src="../img/logos/tipo_carfel.png" alt="logotipo da empresa carfel. palavra carfel">
                </a>

            </div>
            <div class="linha_vertical"></div>
            <div id="desc_carfel">
                <p>A Carfel nasceu a partir da ideia de fazer com que, assim após reuniões e debates, os fundadores
                    chegaram
                    a. Criada desde o ano, já conta com diversos projetos em sua história, firmados com grandes
                    empresas
                    multinacionais.
                </p>
            </div>
            <div class="linha_vertical"></div>
            <nav id="social_media">
                <div class="twitter">
                    <img src="../img/icon/social_media/twitter.png" alt="logotipo do twitter, um pássaro dentro de um círculo">
                </div>
                <div class="facebook">
                    <img src="../img/icon/social_media/facebook.png" alt="logotipo do facebook, a letra F dentro de um círculo">
                </div>
                <div class="instagram">
                    <img src="../img/icon/social_media/instagram.png" alt="logotipo do instagram, uma câmera fotográfica dentro de um círculo">
                </div>
            </nav>
        </div>
        <div id="chat">
            <div class="personal">
                <nav class="flex-container">
                    <div class="perfil flex-container">
                        <div class="perfil-imagem">
                            <img src="../img/profile/perfil.png" alt="foto de perfil do Saulo, sorrindo e com óculos escuros na frente de uma paisagem com árvores">
                        </div>
                        <div class="perfil-dados">
                            <span class="perfil-nome">Saulo Santos</span>
                            <span class="perfil-status">Online</span>
                        </div>
                    </div>
                    <!--fim perfil-->
                    <div class="chat-comandos">
                        <a href="#">
                            <i class="fas fa-search"></i>
                        </a>
                        <a href="#">
                            <i class="fas fa-paperclip"></i>
                        </a>
                    </div>
                    <!--fim chat comandos-->
                </nav>
            </div>
            <div class="corpo">
                <div class="chat-msg chat-msg-enviada">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, eos ratione doloribus numquam
                        doloremque
                        ipsam veniam maxime molestias magnam voluptates nobis blanditiis, consequatur dolores alias
                        sapiente
                        deleniti praesentium reiciendis veritatis?</p>
                    <span class="chat-msg-horario">10:00</span>
                </div>
                <div class="chat-msg chat-msg-recebida">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, eos ratione doloribus numquam
                        doloremque
                        ipsam veniam maxime molestias magnam voluptates nobis blanditiis, consequatur dolores alias
                        sapiente
                        deleniti praesentium reiciendis veritatis?</p>
                    <span class="chat-msg-horario">10:00</span>
                </div>
                <div class="chat-msg chat-msg-enviada">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, eos ratione doloribus numquam
                        doloremque
                        ipsam veniam maxime molestias magnam voluptates nobis blanditiis, consequatur dolores alias
                        sapiente
                        deleniti praesentium reiciendis veritatis?</p>
                    <span class="chat-msg-horario">10:00</span>
                </div>
            </div>
            <div class="rodape">
                <div class="flex-container">
                    <i class="far fa-grin-squint"></i>
                    <form class="mensagem">
                        <textarea></textarea>
                        <button>Enviar</button>
                    </form>
                    <i class="fas fa-microphone"></i>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>