@using Senai.Projetos.Comentarios_Check_Point.Models
@using Senai.Projetos.Comentarios_Check_Point.Repositorios

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="../css/style_planos.css">
    <title>Planos</title>
</head>

<body>
    <header>
        <nav id="topo">
            <div class="logo_checkpoint">
                <a href="/Pages/Home">
                    <img src="../img/logos/logo_check_point.png" alt="logotipo do produto checkpoint constituído por um círculo azul com um ícone de lozalicação dentro e ao lado o nome check point">
                </a>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="/Pages/Home">home</a></li>
                    <li><a href="/Pages/Carfel">carfel</a></li>
                    <li><a href="/Pages/Planos">planos</a></li>
                    <li><a href="/Pages/Ajuda">ajuda</a></li>
                    <li><a href="/Pages/Contato">contato</a></li>
                </ul>
            </div>
        </nav>
        <section id="banner">
            <div class="planos">
                <h1>Planos</h1>
                <p>Os planos oferecidos são três. Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat
                    molestias sint ut, accusantium, at voluptas quod deleniti nobis obcaecati ea praesentium libero,
                    blanditiis suscipit nesciunt expedita laboriosam ipsam odio facere?</p>
            </div>
        </section>
    </header>

    <main>
        <div class="tipos_planos">
            <div class="free">
                <h2>Free</h2>
                <div class="preco">
                    <p>R$ XX,XX</p>
                </div>
                <div class="periodo">
                    <p>Período</p>
                </div>
                <div class="desc_free">
                    <p>O plano free oferece. O plano free oferece. O plano free oferece. </p>
                </div>
                <div class="botao_adquirir">
                    <a href="#">Adquirir</a>
                </div>
            </div>
            <div class="basico">
                <h2>Básico</h2>
                <div class="preco">
                    <p>R$ XX,XX</p>
                </div>
                <div class="periodo">
                    <p>Período</p>
                </div>
                <div class="desc_basico">
                    <p>O plano básico oferece. O plano básico oferece. O plano básico oferece.</p>
                </div>
                <div class="botao_adquirir">
                    <a href="#">Adquirir</a>
                </div>
            </div>
            <div class="premium">
                <h2>Premium</h2>
                <div class="preco">
                    <p>R$ XX,XX</p>
                </div>
                <div class="periodo">
                    <p>Período</p>
                </div>
                <div class="desc_premium">
                    <p>O plano premium oferece. O plano premium oferece.</p>
                </div>
                <div class="botao_adquirir">
                    <a href="#">Adquirir</a>
                </div>
            </div>
        </div>
        <div id="clientes">
            <div class="adidas">
                <img src="../img/logos/clients/logo_adidas.png" alt="logotipo da adidas, três listras na diagonal com o nome adidas embaixo">
            </div>
            <div class="steam">
                <img src="../img/logos/clients/logo_steam.png" alt="logotipo da steam, um círculo com um braço mecânico dentro">
            </div>
            <div class="ibm">
                <img src="../img/logos/clients/logo_ibm.png" alt="logotipo da IBM, a sigla IBM escrita por listras horizontais bem próximas">
            </div>
            <div class="dell">
                <img src="../img/logos/clients/logo_dell.png" alt="logotipo da dell, o nome dell dentro de um círculo">
            </div>
            <div class="intel">
                <img src="../img/logos/clients/logo_intel.png" alt="logotipo da intel, o nome intel dentro de uma elipse">
            </div>
            <div class="nvidia">
                <img src="../img/logos/clients/logo_nvidia.png" alt="logotipo da nvidia, metade de um olho fazendo junção com a metade de um quadrado e o nome nvidia embaixo">
            </div>
            <div class="hp">
                <img src="../img/logos/clients/logo_hp.png" alt="logotipo da HP, a sigla HP dentro de um círculo">
            </div>
        </div>
        <div class="avaliacoes">
            <h2>Avaliações de nossos clientes</h2>
            <div class="comentarios">
                @{
                    ComentarioRepositorio comentarioRepositorio = new ComentarioRepositorio();

                    ViewData["Comentarios"] = comentarioRepositorio.Listar();
                }
                @foreach (var item in ViewData["Comentarios"] as List<ComentarioModel>)
                {
                    @if (item.Status == "Aprovado")
                    {
                        <div class="comentario">
                            <div class="nome_usuario">
                                @item.Usuario.Nome<br>
                            </div>
                            <div class="data_criacao">
                                @item.DataCriacao<br>
                            </div>
                            <div class="corpo">
                                @item.Texto<br>
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="botao_comentar">
                <a href="/Usuario/Login">Registrar comentário</a>
            </div>
        </div>
    </main>

    <footer>
        <div class="container_footer">
            <div class="logo_carfel">
                <a href="https://www.carfel.pt/" target="_blank">
                    <img src="../img/logos/tipo_carfel.png" alt="logotipo da empresa carfel. palavra carfel">
                </a>

            </div>
            <div class="linha_vertical"></div>
            <nav id="social_media">
                <div class="twitter">
                    <img src="../img/icon/social_media/twitter.png" alt="logotipo do twitter, um pássaro dentro de um círculo">
                </div>
                <div class="facebook">
                    <img src="../img/icon/social_media/facebook.png" alt="logotipo do facebook, a letra F dentro de um círculo">
                </div>
                <div class="instagram">
                    <img src="../img/icon/social_media/instagram.png" alt="logotipo do instagram, uma câmera fotográfica dentro de um círculo">
                </div>
            </nav>
        </div>
        <div id="chat">
            <div class="personal">
                <nav class="flex-container">
                    <div class="perfil flex-container">
                        <div class="perfil-imagem">
                            <img src="../img/profile/perfil.png" alt="foto de perfil do Saulo, sorrindo e com óculos escuros na frente de uma paisagem com árvores">
                        </div>
                        <div class="perfil-dados">
                            <span class="perfil-nome">Saulo Santos</span>
                            <span class="perfil-status">Online</span>
                        </div>
                    </div>
                    <!--fim perfil-->
                    <div class="chat-comandos">
                        <a href="#">
                            <i class="fas fa-search"></i>
                        </a>
                        <a href="#">
                            <i class="fas fa-paperclip"></i>
                        </a>
                    </div>
                    <!--fim chat comandos-->
                </nav>
            </div>
            <div class="corpo">
                <div class="chat-msg chat-msg-enviada">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, eos ratione doloribus numquam
                        doloremque
                        ipsam veniam maxime molestias magnam voluptates nobis blanditiis?</p>
                    <span class="chat-msg-horario">10:00</span>
                </div>
                <div class="chat-msg chat-msg-recebida">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, eos ratione doloribus numquam
                        doloremque
                        ipsam veniam maxime molestias magnam voluptates nobis blanditiis?</p>
                    <span class="chat-msg-horario">10:02</span>
                </div>
                <div class="chat-msg chat-msg-enviada">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, eos ratione doloribus numquam
                        doloremque
                        ipsam veniam maxime molestias magnam voluptates nobis blanditiis?</p>
                    <span class="chat-msg-horario">10:05</span>
                </div>
            </div>
            <div class="rodape">
                <div class="flex-container">
                    <i class="far fa-grin-squint"></i>
                    <form class="mensagem">
                        <textarea></textarea>
                        <button>Enviar</button>
                    </form>
                    <i class="fas fa-microphone"></i>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>